// TODO: load name via scriptFile = getClass().protectionDomain.codeSource.location.path
def name = 'test_01'

pipelineJob(name) {
    
    definition {
        cps {
  	    // TODO: get whole path from (cannonical.path - workspace)
            script(readFileFromWorkspace("jobs/pipelines/${name}.pipeline"))
            sandbox()
        }
    }

}
